<div id="Page3" class="page" style="display:none">

<pre><code data-language='bash'>pip install django==1.8</code></pre>
<pre><code data-language='bash'>pip install npm</code></pre>
<pre><code data-language='bash'>pip install --upgrade git+https://github.com/mysteryjeans/doorsale.git#egg=Doorsale</code></pre>
<pre><code data-language='bash'>git clone https://github.com/mysteryjeans/doorsale-demo.git</code></pre>
<pre><code data-language='bash'>npm install -g less yuglify</code></pre>
<pre><code data-language='bash'>cd doorsale-demo</code></pre>
<pre><code data-language='bash'>python manage.py runserver</code></pre>
<pre><code data-language='bash'>docker save container_name > /home/$USER/export.tar</code></pre>
<pre><code data-language='bash'>docker load  &bull; /home/$USER/export.tar</code></pre>
</div>


