<div id="Page4" class="page" style="display:none">
<a> &bull; &bull; &bull; &bull;</a>
<table class="blueTable">
<thead>
<tr>
<th>Sites</th>
<th>Sources</th>
</tr>
</thead>
<tbody>
<tr>
<td>A Django forum engine for building powerful community driven websites.</td>
<td>https://django-machina.readthedocs.org</td>
</tr>
<tr>
<td>Domain-driven e-commerce for Django</td>
<td>http://oscarcommerce.com</td>
</tr>
<tr>
<td>Template for making a personal website using django.</td>
<td>http://www.melissagymrek.com/publications</td>
</tr>
<tr>
<td>django_todo_app</td>
<td>https://github.com/PrettyPrinted/django_todo_app</td>
</tr>
</tbody>
</table>
<br/>
</div>
