    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %} 

<!-- Google analytics -->
  {% if site.google_analytics and jekyll.environment == 'production' %}
  {% include analytics.html %}
  {% endif %}

  {% seo %}

{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

  {% if page.robots %} <meta name="robots" content="{{page.robots}}" />{% endif %}
  
  <meta name="google-site-verification" content="zFuwF6tlf7YemTRN-ZOvl5lG1rjuI9qEomPbr_5vAu8" />
    <meta name="yandex-verification" content="63e9875cbd802327" />
